/* grey #D4D4D4
primary #373F85 */

.item0 {
  background-color: #fdfce7;
}
.item1 {
  background-color: #faf4c0;
}
.item2 {
  background-color: #e0eac3;
}
.item3 {
  background-color: #c6e0d7;
}
.item4 {
  background-color: #b2cdd7;
}
.item5 {
  background-color: #cbb39e;
}
.item6 {
  background-color: #e79c74;
}
.item7 {
  background-color: #e49883;
}
.item8 {
  background-color: #df9598;
}
.item9 {
  background-color: #d1869f;
}
.item10 {
  background-color: #bc72a7;
}
.item11 {
  background-color: #894f9c;
}

.b--item0 {
  border-color: #fdfce7;
}
.b--item1 {
  border-color: #faf4c0;
}
.b--item2 {
  border-color: #e0eac3;
}
.b--item3 {
  border-color: #c6e0d7;
}
.b--item4 {
  border-color: #b2cdd7;
}
.b--item5 {
  border-color: #cbb39e;
}
.b--item6 {
  border-color: #e79c74;
}
.b--item7 {
  border-color: #e49883;
}
.b--item8 {
  border-color: #df9598;
}
.b--item9 {
  border-color: #d1869f;
}
.b--item10 {
  border-color: #bc72a7;
}
.b--item11 {
  border-color: #894f9c;
}

.b--item12 {
  border-color: #3a2a76;
}

.checkmark + div {
  background-color: white;
  border-color: currentColor;
}
