/* grey #D4D4D4
primary #373F85 */

.item0 {
  background-color: #fdfce7;
}
.item1 {
  background-color: #faf4c0;
}
.item2 {
  background-color: #e0eac3;
}
.item3 {
  background-color: #c6e0d7;
}
.item4 {
  background-color: #b2cdd7;
}
.item5 {
  background-color: #cbb39e;
}
.item6 {
  background-color: #e79c74;
}
.item7 {
  background-color: #e49883;
}
.item8 {
  background-color: #df9598;
}
.item9 {
  background-color: #d1869f;
}
.item10 {
  background-color: #bc72a7;
}
.item11 {
  background-color: #894f9c;
}

/* .item12 {
  background-color: #3a2a76;
} */
