@import "./tachyons.css";
@import "./palette.css";

.titleText {
  font-size: 100px;
}

@media screen and (max-width: 30em) {
  .titleText {
    font-size: 4rem;
    padding: 1rem;
  }
}

.sidebar {
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  color: #363d87;
}

/* ns */
@media screen and (min-width: 30em) {
  .rotate-ns {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.textPointer {
  cursor: text;
}

/* WIDGETS */

.rf-badge {
  background-color: white;
  border-radius: 9999px;
  color: black;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}

/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  border-top: 5px solid #dddddd;
  padding: 5em 0;
  position: relative;
}

/* Individual Timeline Item */
.tl-node {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative;
}
.tl-node a {
  display: block;
}
.tl-node:before {
  position: absolute;
  top: 0;
  left: -0.95em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
  border: 5px solid #dddddd;
  content: "";
}

/* Timestamp */
.tl-stamp {
  font-size: 0.7em;
  color: gray;
}

/************End Timeline**************/

.rf-btn {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-transition: -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1), -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(20, 11, 47, 0.12),
    0 4px 4px -4px rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 0 1px rgba(20, 11, 47, 0.12),
    0 4px 4px -4px rgba(0, 0, 0, 0.32);
  color: var(--primary-blue);
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 16rem;
}

.rf-btn-primary {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 600;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-transition: -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1), -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  transition: box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1),
    -webkit-box-shadow 150ms cubic-bezier(0.2, 0.6, 0.6, 1);
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  background-color: var(--primary-blue);
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.32);
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.32);
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 16rem;
}

.entryBox {
  -webkit-font-smoothing: antialiased;
  cursor: initial;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cceae7;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 4px;
  color: rgb(39, 94, 88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 48px;
  font-weight: 700;
  height: 96px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 96px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 96px;
}
