:root {
  --spacing-medium: 1rem;
}

/* TYPOGRAPHY */
.rf-measure {
  max-width: 30em;
}

.rf-measure-narrow {
  max-width: 20em;
}

.rf-lh-title {
  line-height: 1.25;
}

/* SPACING */
.rf-pl3 {
  padding-left: var(--spacing-medium);
}

.rf-min-h5 {
  min-height: 16rem;
}

.rf-min-vh-100 {
  min-height: 100vh;
}

/* WIDGETS */

.rf-badge {
  background-color: white;

  border-radius: 9999px;
  color: black;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}
