@import "../shame.css";


:root {
  --spacing-medium: 1rem;
  --primary-blue: #373f85;
}

/* TYPOGRAPHY */
.rf-measure {
  max-width: 30em;
}

.rf-measure-narrow {
  max-width: 20em;
}

.rf-lh-title {
  line-height: 1.25;
}

/* SPACING */
.rf-pl3 {
  padding-left: var(--spacing-medium);
}

.rf-min-h5 {
  min-height: 16rem;
}

.rf-min-h3 {
  min-height: 4rem;
}

.rf-min-vh-100 {
  min-height: 100vh;
}

/* FLEXBOX */
.rf-x {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rf-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
