:root {
  --spacing-medium: 1rem;
}

/* TYPOGRAPHY */
.rf-measure {
  max-width: 30em;
}

.rf-measure-narrow {
  max-width: 20em;
}

.rf-lh-title {
  line-height: 1.25;
}

/* SPACING */
.rf-pl3 {
  padding-left: var(--spacing-medium);
}

.rf-min-h5 {
  min-height: 16rem;
}

.rf-min-vh-100 {
  min-height: 100vh;
}

/* FLEXBOX */
.rf-x {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rf-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* WIDGETS */

.rf-badge {
  background-color: white;
  border-radius: 9999px;
  color: black;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}

/* timeline */

/************Reset**************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
object,
iframe,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}

/************End Reset**************/
/************Global**************/
body {
  background: #fff;
  color: #222222;
  font: 120%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 1em;
  -webkit-text-size-adjust: 100%;
}
@media all and (min-width: 40em) {
  body {
    padding-left: 2em;
  }
}

a {
  color: gray;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #222222;
  text-decoration: underline;
}

p {
  margin: 0 0 1em;
}

img,
object,
video {
  max-width: 100%;
  border: 0;
}

a img {
  border: 0;
  outline: 0;
}

h1 {
  font-size: 2em;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 0.8em;
}

h2 {
  text-transform: lowercase;
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.4em;
}

h3 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 0 0 0.2em;
  text-transform: lowercase;
}

/************End Global**************/
/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding: 5em 0;
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.47em;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #dddddd;
  border: 5px solid #dddddd;
}

.actionButton {
  position: relative;
  bottom: 5em;
  left: 2em;
  text-decoration: underline;
}

/* Individual Timeline Item */
.tl-node {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative;
}
.tl-node a {
  display: block;
}
.tl-node:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.95em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
  border: 5px solid #dddddd;
}

/* Timestamp */
.tl-stamp {
  font-size: 0.7em;
  color: gray;
}

/************End Timeline**************/
